* {
    box-sizing: border-box;
}

body {
    color: #333;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}
.search {
    width: 550px;/*横幅*/
    margin: 0 auto;/*中央寄せ*/
}
.search-ttl{
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.search-table {
    width: 100%;
    margin-bottom: 10px;
}
.search-item,
.search-body {
    padding: 10px;
    border: 1px solid #ccc;
}

.search-item {
    text-align: left;
    width: 30%;
    background-color: #eee;
}

.search-body {
    width: 70%;
}
.search-text {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    max-width: 400px;
}
.search-age-text {
    width: 15%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    max-width: 400px;
}
.search-thoughts + .search-thoughts {
    margin-left: 10px;
}

.search-thoughts-txt {
    margin-left: 5px;
}
.search-select {
    width: 180px;
    height: 40px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact-submit {
    width: 125px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    font-size: 16px;
    padding: 15px;
    border-radius: 100vh;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}
.contact {
    width: 960px;/*横幅*/
    margin: 0 auto;/*中央寄せ*/
}
.contact-ttl{
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.contact-table {
    width: 100%;
    margin-bottom: 20px;
}
.contact-item,
.contact-body {
    padding: 20px;
    border: 1px solid #ccc;
}

.contact-item {
    text-align: left;
    width: 30%;
    background-color: #eee;
}

.contact-body {
    width: 70%;
}
.form-text {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    max-width: 400px;
}
.form-age-text {
    width: 15%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    max-width: 400px;
}
.contact-thoughts + .contact-thoughts {
    margin-left: 10px;
}

.contact-thoughts-txt {
    margin-left: 5px;
}
.form-select {
    width: 180px;
    height: 40px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact-submit {
    width: 250px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    font-size: 16px;
    padding: 15px;
    border-radius: 100vh;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}
table.result {
    margin: 0 auto;/*中央寄せ*/
    margin-top: 10px;
    border-collapse: collapse;
    border: 1px solid #ccc;
    line-height: 1.5;

}
table.result th {
    width: 2500px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    background: #3f3f3f;
    color: #ffffff;
    border: solid 1px;
}
table.result td {
    width: 250px;
    padding: 10px;
    vertical-align: top;
    border: solid 1px;
}
table.result tr:nth-child(even) {
    background: #d9d9d9;
}
.table-navi{
    margin:auto;
}
.navigation {
    display       : inline-block;
    font-size     : 13pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 5px 5px;   /* 余白       */
    background    : rgba(255, 255, 255, 0.10);     /* 背景色     */
    color         : #00007f;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    border: none;
}